body {
  font-family: Georgia;
  font-size: 16px;
  margin: 0 auto;   /* center content */
  max-width: 800px; /* limit width */
  line-height: 1.5;
  padding-top: 32px;
  padding-bottom: 32px; 
  }

/* BEGIN (write your solution here) */
p {
	  margin-bottom: 12px;  
  }
  h1 {
	 font-size: 36px;
	 margin-bottom: 0px; 
	 font-weight: 400;
     }
  h2 {
	 font-size: 32px; 
	 margin-bottom: 8px;
	 border-bottom: 1px solid gray;
	 font-weight: 400;
     }

  .prof {
	 font-size: 21px; 
	 margin: 0px;
	 font-weight: 400;
     }
.back {
	background-color: gray;
}
#main  h3 {
	 margin: 0;
	 font-weight: 400;
  }

#header {
margin: 14px;
text-align: center;
}

#footer {
margin-bottom: 64px;
text-align: center;
}
#main li {
	margin-bottom: 12px;
}

#main li:last-child {
	margin-bottom: 0;
}
/* END */
